unsloth
transformers
torch
torchvision
accelerate
bitsandbytes

datasets
trl
peft

wandb
huggingface_hub

langchain==0.3.25
langchain-community==0.3.24
langchain-core==0.3.86
langchain-text-splitters==0.3.8
langchain-huggingface==0.1.2

faiss-cpu==1.9.0
rank-bm25==0.2.2
sentence-transformers==3.4.1

pypdf
pymupdf==1.25.5

duckduckgo-search==8.0.1

gdown
gradio==5.30.0

rouge-score

pandas
numpy
matplotlib

sentencepiece
protobuf

python-dotenv